<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046103251656-evrhnrt0tjo1gtaqtqre3m4irg258jdk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046103251656-evrhnrt0tjo1gtaqtqre3m4irg258jdk</string>
	<key>API_KEY</key>
	<string>AIzaSyACQbJXKeFNzMJfKm1lbTlBJhHzGiqheY8</string>
	<key>GCM_SENDER_ID</key>
	<string>1046103251656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppTharwat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-7464c</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-7464c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046103251656:ios:b1aebbf3397b46e746e3fd</string>
</dict>
</plist>